# Grant logged-in user access to Apple Magic Trackpad hidraw for battery reading
SUBSYSTEM=="hidraw", DRIVERS=="magicmouse", MODE="0660", TAG+="uaccess"
