[Unit]
Description=Periodic Magic Trackpad auto-connect attempts

[Timer]
OnBootSec=20s
OnUnitInactiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
