[Unit]
Description=Periodic Magic Trackpad auto-connect attempts

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
Unit=magic-trackpad-autoconnect.service
AccuracySec=5s

[Install]
WantedBy=timers.target
